.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: white;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
}
.nav-links{
    list-style: none;
    display: flex;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #34495e;
        padding: 10px 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }


    .menu-toggle {
        display: block;
    }
}
.menu-toggle {
    display: none;
    cursor: pointer;
}

    